p {margin: 1px;}

/* my stuff */
#welcome {margin: 5px;}
#welcome h2 {margin: 15px 2px;}
#content {padding: 5px 15px;}
a.cv {background: url('../images/pdf-file.png') no-repeat center right;padding-right: 23px;}
#footer {margin: 0 auto; position:absolute; bottom: 0px;width: 100%; text-align: center;}
#version {color: #dcdcdc;text-align: center;}

.main {margin: 50px}
#refer {font-weight: bold;}
p.par {margin: 5px 1px}
