<header>
	<nav class="navbar navbar-inverse centered" role="navigation">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
			  <span class="sr-only">Toggle navigation</span>
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
			</button>
			<!--
			<a class="navbar-brand" href="/">Home</a>
			-->
		 </div>

		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav">
			  <li class="active"><a href="/aindex">AIndex</a></li>
			  <li><a href="/projects">Projects</a></li>
			  <li><a href="/tools">Tools</a></li>
			  <li class="disabled"><a href="#" class="navbar-link">Contact</a></li>
			 </ul>
			<p class="navbar-text pull-right"><a class="navbar-link" href="{{ site.url }}/feed">
				<img src="/images/rss.png" alt="Subscribe to {{ site.description }}" title="Subscribe to {{ site.description }}"></a></p>
		 </div><!-- /.navbar-collapse -->
		 
	</nav>
</header>
<script type="text/javascript">
$(document).ready( function($){
	var url = document.URL;
	var ref = url.substr(url.lastIndexOf("/") + 1);
	$("nav .navbar-nav li.active").removeClass("active");
	$("nav .navbar-nav li a[href*='" + ref + "']").parent("li").addClass("active");
});
</script>