<!DOCTYPE html>
<head>
	<meta charset="utf-8"> 
	<title>{% if page.title %} {{page.title}} - {% endif %} Daniel Blendea :: Online</title>
	<meta name="description" content="{{ site.description }}" />
	<meta name="keywords" content="Daniel Blendea, .net, programming, development, web development, unit testing, c#, outsourcing, management, project management" />
	<meta name="author" content="Daniel Blendea" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="/Content/Site.css" type="text/css" />
	<link rel="stylesheet/less" href="/Content/site.less.css" type="text/css" />

	<script src="/Scripts/less-1.4.1.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/Scripts/html5shiv.js"></script>
	  <script src="/Scripts/respond.min.js"></script>
    <![endif]-->
</head>
<body>

{% include header.html %}

<div class="main">
	<div class="content">
	  {{ content }}
	</div>
	<sidebar class="less-class"></sidebar>
</div>

{% include footer.html %}

{% include analytics.html %}

</body>
</html>
